#page-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start;  */
  justify-content: flex-start; /* Start content from the top */
  background-image: var(--background-color);
  margin: 0;
  width: 100%; /* Ensure it takes full width */
}

#title {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#content-container {
  transition: filter 0.8s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#content-container.open {
  filter: blur(3px);
  pointer-events: none;
}

#message {
  resize: none;
  height: 100px;
  width: 100%;
}

input,
label {
  display: block;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-right {
  opacity: 0; /* Start invisible */
  animation: slideInRight 0.5s forwards;
}
/* Ensure the element stays hidden until the animation triggers */
.single-blog:not(.slide-in-right) {
  visibility: hidden;
}

@media (max-width: 600px) {
  .photo-text-list {
    font-size: small;
  }
  .img-text {
    font-size: medium;
  }
  .contact-form {
    padding: 3em;
  }
}
