#title {
  transform-style: preserve-3d;
  transition: transform 0.3s;
  color: #cbd4e4;
  text-shadow: 1px 2px 1px #d1682b;
}
#header {
  display: flex;
  width: 100%;
  z-index: 5;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* .hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
#fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  padding-left: 1em;
  padding-right: 1em;
  z-index: 10;
  /* background color grey and transparent with blur */
  background-color: rgba(20, 6, 6, 0.226);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(156, 152, 152, 0.1);
}

/* toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
}

/* Hide the default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
