#digitalforge {
  font-size: 5px;
  margin-top: 0.1em;
  position: fixed;
  right: 4.5em;
  top: 5.5em;
  margin-bottom: 1em;
  transition: 0.4s ease-in-out;
  z-index: 500;
  opacity: 0;
}

#digitalforge.open,
body.menu-open #digitalforge {
  color: #9b0f0f;
  margin-top: 1em;
  position: fixed;
  right: 6.5em;
  top: 1.5em;
  font-size: 10px;
  transition: 0.8s ease-in-out;
  opacity: 1;
}

#hamburger-icon {
  cursor: pointer;
  z-index: 1000;
}

#hamburger-icon div {
  width: 30px;
  height: 3px;
  background-color: var(--white-text);
  margin: 5px 0;
  transition: 0.6s;
}

#hamburger-icon.dark-mode div {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
  transition: 0.6s;
}

body.menu-open #hamburger-icon div:nth-child(1),
#hamburger-icon.open div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

body.menu-open #hamburger-icon div:nth-child(2),
#hamburger-icon.open div:nth-child(2) {
  opacity: 0;
}

body.menu-open #hamburger-icon div:nth-child(3),
#hamburger-icon.open div:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

body.menu-open .nav,
.nav.open {
  color: rgb(235, 19, 19);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  top: 1.5em;
  right: -200px;
  padding: 0 0.5em;
  width: 4em;
  text-align: center;
  transition: top 0.8s ease-in-out;
}

.nav:hover {
  cursor: pointer;
  color: #d3eb37;
  background-color: #3b151590;
  transform: scale(1.2);
}

#nav-menu-container {
  position: fixed;
  top: 0;
  left: 100%; /* Positioned off-screen to the right */
  width: 250px; /* Adjust based on desired width */
  height: 100%; /* Full viewport height */
  margin-top: 2.5em;
  transition: left 0.5s ease-in-out; /* Smooth transition for sliding in */
  z-index: 10; /* Ensure it's above other content */
  display: flex;
  flex-direction: column;
  padding: 20px; /* Padding around links */
}

body.menu-open #nav-menu-container {
  left: calc(100% - 155px);
}

.nav {
  width: 100%; /* Full width of the container */
  padding: 10px 0; /* Padding for better tap/click area */
  text-align: center; /* Center text */
  margin-bottom: 10px; /* Spacing between items */
  transition: background-color 0.3s ease; /* Smooth transition for hover */
}

.nav:hover {
  cursor: pointer;
  color: #d3eb37;
  background-color: #3b151590;
  transition: 0.5s ease;
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.1); /* Slight highlight on hover */
}

#nav-home.open {
  display: block;
  margin-top: 2em;
  position: fixed;
  right: 1.5em;
  top: 1.5em;
  font-size: 2em;
}

#nav-about.open {
  display: block;
  margin-top: 2em;
  position: fixed;
  right: 1.5em;
  top: 3em;
  font-size: 2em;
}
#nav-pay.open {
  display: block;
  margin-top: 2em;
  position: fixed;
  right: 1.5em;
  top: 4.5em;
  font-size: 2em;
}
