@keyframes rotate-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-counter-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotate-none {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.photo-ring {
  position: relative;
  width: 138px;
  height: 138px;
  border: solid 9px #d29069;
  border-radius: 50%;
  border-right-color: rgb(32, 94, 125);
  border-bottom-color: transparent;
  animation: rotate-clockwise 9s linear infinite;
  z-index: 9;
}

.photo-ring::before,
.photo-ring::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: solid 3px transparent;
  border-radius: 50%;
  opacity: calc(1 / 3);
  z-index: 10;
}
.photo-ring::after-2 {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: double 7px transparent;
  border-radius: 50%;
  opacity: calc(1 / 3);
  z-index: 5;
}

.photo-ring::before {
  border-top-color: #113352aa;
  border-right-color: transparent;
  border-bottom-color: #dc8f437a;
  /* //make animation clockwise, then counterclockwise */
  /* animation: rotate-clockwise 5s linear infinite; */
  opacity: 90%;
  position: absolute;
  animation: rotate-counter-clockwise 5s infinite alternate;
  z-index: 10;
}

.photo-ring::after {
  border-top-color: #2089ecb6;
  border-right-color: #803d09db;
  border-bottom-color: #3025a696;
  position: absolute;
  /* //make animation clockwise, then counterclockwise */
  /* animation: rotate-clockwise 5s linear infinite; */
  opacity: calc(2 / 3);
  animation: rotate-counter-clockwise 8s linear infinite alternate;
  z-index: 10;
}

.profile-photo {
  position: relative;
  top: calc(50% - 8rem / 2); /* Adjust top position */
  left: calc(50% - 8rem / 2); /* Adjust left position */
  /* limit rotation to 10degrees */
  width: 8rem; /* Adjust size as needed */
  height: auto; /* Adjust size as needed */
  border-radius: 50%;
  animation: rotate-none 9s linear infinite;
  z-index: -10;
}

.photo-frame-group {
  position: relative;
  top: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  transition: 0.3s;
  z-index: 1;
}

.photo-frame {
  margin: 1.5em;
  position: relative;
  transition: transform 0.5s ease-in-out; /* Add transition for smooth tilting */
  box-shadow: 8px 9px 19px 16px #000000;
  border-radius: 50%;
  z-index: 3;
}

.photo-frame:hover {
  cursor: pointer;
}

.profile-photo:hover,
.photo-ring:hover,
.photo-ring::before:hover,
.profile-name:hover,
.photo-ring::after:hover {
  transform: translateX(10px) translateY(10px) rotate(0); /* Apply reactivetransformation on hover */
}
.profile-name {
  position: absolute;
  /* calculate the rotation of the div to keep the name at bottom at all times */
  top: -10em;
  left: 0;
  transform: translate(-50%, 50%);
  font-weight: bold;
  font-size: 1rem;
  color: var(--white-text);
  text-shadow: 1px 1px 2px #000;
  bottom: 0;
  animation: rotate-none 9s linear infinite;
  z-index: 70;
}
@media (max-width: 500px) {
  .photo-ring::before,
  .photo-ring::after {
    border: solid 2px transparent;
    position: relative;
    z-index: 5;
  }
  .photo-ring {
    border: solid 5px #e359368c;
    border-radius: 50%;
    border-right-color: rgb(32, 94, 125);
    border-bottom-color: transparent;
    animation: rotate-clockwise 9s linear infinite;
    z-index: 9;
  }
  .profile-name {
    font-size: 0.5rem;
    z-index: 10;
  }
  .photo-frame {
    margin: 0.5em;
  }
}
